config/dev.yml
config/private.yml
config/settings.yml
releases/**/*.tgz
dev_releases
blobs/*
.blobs
.dev_builds
.vagrant
.idea
.DS_Store
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
*.swp
*~
*#
#*
tmp
my*.yml
ci/credentials.yml
nessus-agent-*.tgz
src/apt/nessus-agent/NessusAgent-10.7.3-ubuntu1604_amd64.deb

